
VideoStreaming/.vs/Video_Streaming/FileContentIndex/1a7e6ac9-ba4e-4aa8-a5c9-a7c6cb14c4d9.vsidx
VideoStreaming/.vs/Video_Streaming/FileContentIndex/6f3631fe-1bad-49c4-b0f5-0a7492c301d0.vsidx
VideoStreaming/.vs/Video_Streaming/v17/DocumentLayout.json
VideoStreaming/Video_Streaming/bin/Debug/net8.0/Video_Streaming.dll
*.dll
*.exe
*.bin
*.json
*.dll
*.exe
*.json
