@{
    ViewBag.Title = "Main";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vixen</title>
    <link rel="stylesheet" href="~/css/Main.css" />
</head>
<body>
    <header class="navbar">
        <div class="logo-container">
            <a href="@Url.Action("Main", "Home")">
                <img src="~/imgs/VIXENN.png" alt="Logo">
            </a>
        </div>
        <div class="navbar-brand"></div>
        <div class="input-wrapper">
            <button class="icon">
                <svg width="25px"
                     height="25px"
                     viewBox="0 0 24 24"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.5 21C16.7467 21 21 16.7467 21 11.5C21 6.25329 16.7467 2 11.5 2C6.25329 2 2 6.25329 2 11.5C2 16.7467 6.25329 21 11.5 21Z"
                          stroke="#fff"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M22 22L20 20"
                          stroke="#fff"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                </svg>
            </button>
            <input type="text" name="text" class="input" placeholder="search.." />
        </div>
        <nav class="navbar-menu">
            <button type="button" class="btn3" id="profileButton">
                <strong>PROFILE</strong>
                <div id="container-stars1">
                    <div id="stars1"></div>
                </div>
                <div id="glow1">
                    <div class="circle1"></div>
                    <div class="circle1"></div>
                </div>
            </button>
        </nav>
    </header>

    <div class="container">
        <div class="video-player">
            <div class="video-wrapper">
                <iframe id="currentVideo" src="https://www.youtube.com/embed/vtpwM1KtWMA" frameborder="5" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            <button id="favoriteButton" data-video-id="vtpwM1KtWMA"> ❤ </button>
            <h2 id="videoTitle">Just The 3 Of Us</h2>

            <div class="description-dropdown">
                <button1 id="descriptionButton">Description ↓</button1>
                <div id="descriptionContent" class="description-content hidden">
                    <p id="movieDescription">The film revolves around Uno Abusado and CJ Manalo who are both involved in the airline industry. The former is an airline pilot who aspires to be a captain and the latter is part of the ground crew who aspires to be a flight attendant. After a one night stand the two were forced to live together to deal with each others contrasting personalities with Manalo now pregnant and claiming that Abusado is the father of her unborn child.</p>
                </div>
            </div>
        </div>
        <h3 id="OtherFilm">[ All Movies ]</h3>
        <div class="thumbnail-gallery-wrapper">
            <div class="thumbnail-gallery">
                <div class="thumbnail" data-video-id="vtpwM1KtWMA" data-title="Just The 3 Of Us" data-description="The film revolves around Uno Abusado and CJ Manalo who are both involved in the airline industry. The former is an airline pilot who aspires to be a captain and the latter is part of the ground crew who aspires to be a flight attendant. After a one night stand the two were forced to live together to deal with each others contrasting personalities with Manalo now pregnant and claiming that Abusado is the father of her unborn child.">
                    <img src="~/imgs/tn1.png" alt="" />
                </div>
                <div class="thumbnail" data-video-id="9o5wD6KdoF4" data-title="Video Title 2" data-description="Description for video 2">
                    <img src="~/imgs/tn2.png" alt="" />
                </div>
                <div class="thumbnail" data-video-id="mgVbToNE9mE" data-title="Video Title 3" data-description="Description for video 3">
                    <img src="~/imgs/tn3.png" alt="" />
                </div>
                <div class="thumbnail" data-video-id="9UNbFfSzaE8" data-title="Video Title 4" data-description="Description for video 4">
                    <img src="~/imgs/tn4.png" alt="" />
                </div>
                <div class="thumbnail" data-video-id="uIdN3yCQLdM" data-title="Video Title 5" data-description="Description for video 5">
                    <img src="~/imgs/tn5.png" alt="" />
                </div>
                <div class="thumbnail" data-video-id="2QwUESzFig0" data-title="Video Title 6" data-description="Description for video 6">
                    <img src="~/imgs/tn6.png" alt="" />
                </div>
                <div class="thumbnail" data-video-id="Yo9emir5wbU" data-title="Video Title 7" data-description="Description for video 7">
                    <img src="~/imgs/tn7.png" alt="" />
                </div>
                <div class="thumbnail" data-video-id="cit1mm96w30" data-title="Video Title 8" data-description="Description for video 8">
                    <img src="~/imgs/tn8.png" alt="" />
                </div>
                <div class="thumbnail" data-video-id="NBL8xGp3vx0" data-title="Video Title 9" data-description="Description for video 9">
                    <img src="~/imgs/tn9.png" alt="" />
                </div>
                <div class="thumbnail" data-video-id="lTwPhcFOutU" data-title="Video Title 10" data-description="Description for video 10">
                    <img src="~/imgs/tn10.png" alt="" />
                </div>
                <div class="thumbnail" data-video-id="Q3ptS7yXyZg" data-title="Video Title 11" data-description="Description for video 11">
                    <img src="~/imgs/tn16.png" alt="" />
                </div>
                <div class="thumbnail" data-video-id="IitePykqDXI" data-title="Video Title 12" data-description="Description for video 12">
                    <img src="~/imgs/tn14.png" alt="" />
                </div>
                <div class="thumbnail" data-video-id="8TO4h4oTOrU" data-title="Video Title 13" data-description="Description for video 13">
                    <img src="~/imgs/tn13.png" alt="" />
                </div>
                <div class="thumbnail" data-video-id="j38NGNLlEUk" data-title="Video Title 14" data-description="Description for video 14">
                    <img src="~/imgs/tn12.png" alt="" />
                </div>
                <div class="thumbnail" data-video-id="Df1dqWaC7c0" data-title="Video Title 15" data-description="Description for video 15">
                    <img src="~/imgs/tn11.png" alt="" />
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>




