@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Main";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vixen</title>
    <link rel="stylesheet" href="~/css/Main.css" />
</head>
<body>
    <header class="navbar">
        <div class="logo-container">
            <img src="~/imgs/VIXENN.png" alt="Logo">
        </div>
        <div class="navbar-brand"></div>
        <div class="input-wrapper">
            <button class="icon">
                <svg width="25px"
                     height="25px"
                     viewBox="0 0 24 24"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.5 21C16.7467 21 21 16.7467 21 11.5C21 6.25329 16.7467 2 11.5 2C6.25329 2 2 6.25329 2 11.5C2 16.7467 6.25329 21 11.5 21Z"
                          stroke="#fff"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M22 22L20 20"
                          stroke="#fff"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                </svg>
            </button>
            <input type="text" name="text" class="input" placeholder="search.." />
        </div>
        <nav class="navbar-menu">
            <button type="button" class="btn2">
                <strong>FAVORITES</strong>
                <div id="container-stars">
                    <div id="stars"></div>
                </div>

                <div id="glow">
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
            </button>

            <button type="button" class="btn3">
                <strong>PROFILE</strong>
                <div id="container-stars1">
                    <div id="stars1"></div>
                </div>

                <div id="glow1">
                    <div class="circle1"></div>
                    <div class="circle1"></div>
                </div>
            </button>
        </nav>
    </header>

    <div class="container">
        <div class="video-player">
            <div class="video-wrapper">
                <iframe id="currentVideo" src="https://www.youtube.com/embed/vtpwM1KtWMA" frameborder="5" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            <button id="favoriteButton">❤</button>
            <h2 id="videoTitle">Just The 3 Of Us</h2>
            <div class="description-dropdown">
                <button1 id="descriptionButton">Description ↓</button1>
                <div id="descriptionContent" class="description-content hidden">
                    <p id="movieDescription">The film revolves around Uno Abusado and CJ Manalo who are both involved in the airline industry. The former is an airline pilot who aspires to be a captain and the latter is part of the ground crew who aspires to be a flight attendant. After a one night stand the two were forced to live together to deal with each others contrasting personalities with Manalo now pregnant and claiming that Abusado is the father of her unborn child.</p>
                </div>
            </div>
        </div>
        <div class="thumbnail-gallery">
            <div class="thumbnail" data-video-id="vtpwM1KtWMA">
                <img src="~/imgs/thumbnail1.png" alt="" />
            </div>
            <div class="thumbnail" data-video-id="9o5wD6KdoF4">
                <img src="~/imgs/thumbnail2.png" alt="" />
            </div>
            <div class="thumbnail" data-video-id="mgVbToNE9mE">
                <img src="~/imgs/thumbnail3.png" alt="" />
            </div>
            <div class="thumbnail" data-video-id="9UNbFfSzaE8">
                <img src="~/imgs/thumbnail4.png" alt="" />
            </div>
            <div class="thumbnail" data-video-id="uIdN3yCQLdM">
                <img src="~/imgs/thumbnail5.png" alt="" />
            </div>
            <div class="thumbnail" data-video-id="2QwUESzFig0">
                <img src="~/imgs/thumbnail6.png" alt="" />
            </div>
            <div class="thumbnail" data-video-id="Yo9emir5wbU">
                <img src="~/imgs/thumbnail7.png" alt="" />
            </div>
            <div class="thumbnail" data-video-id="cit1mm96w30">
                <img src="~/imgs/thumbnail8.png" alt="" />
            </div>
            <div class="thumbnail" data-video-id="NBL8xGp3vx0">
                <img src="~/imgs/thumbnail9.png" alt="" />
            </div>
            <div class="thumbnail" data-video-id="lTwPhcFOutU">
                <img src="~/imgs/thumbnail10.png" alt="" />
            </div>
        </div>
    </div>

    <div id="favoritesList" class="hidden">
        <h2>Your Favorites</h2>
        <!-- Favorites will be listed here -->
    </div>
    <div id="profileContent" class="hidden">
        <h2>Your Profile</h2>
        <!-- Profile content goes here -->
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>





