@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Profile";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vixen</title>
    <link rel="stylesheet" href="~/css/profile.css" />
</head>
<body>
    <header class="navbar">
        <div class="logo-container">
            <a href="@Url.Action("Main", "Home")">
                <img src="~/imgs/VIXENN.png" alt="Logo">
            </a>
        </div>
        <nav class="navbar-menu">
            <button class="Btn">
                <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
                <div class="text">Logout</div>
            </button>
        </nav>
    </header>

    <div class="profile-container">
        <div class="profile-header">
        </div>
        <div class="profile-card">
            <div class="profile-image">
                <div class="image-container">
                    <img id="profileImage" src="~/imgs/default.png" alt="">
                    <input type="file" id="imageInput" style="display: none;">
                    <button1 id="selectImage">Select Image</button1>
                </div>
            </div>
            <div class="profile-details">
                <div class="input-group">
                    <label for="username">USERNAME</label>
                    <input type="text" id="username" value="popsik123">
                    <button class="edit-btn">✏️</button>
                </div>
                <div class="input-group">
                    <label for="password">PASSWORD</label>
                    <input type="password" id="password" value="******">
                    <button class="edit-btn">✏️</button>
                </div>
            </div>
            <a class="bn39" href="/"><span class="bn39span">Save Changes</span></a>
        </div>
        </div>
    <br />
    <br />
    <br />
        <div class="recent-watched">
            <h3>RECENT WATCHED</h3>
            <!-- PALAGAY NUNG MGA RECENT WATCHED NG USER HERE -->
        </div>
    <br />
    <br />
    <br />
        <div class="favorites">
            <h3>FAVORITES</h3>
            <!-- SHOULD FILTER "PINUSUAN" NUNG USER -->
        </div>

    <script src="~/js/site.js"></script>
</body>
</html>

