@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model UserModel
@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/register.css" />
</head>
<body>
    <div class="logo-container">
        <img src="~/imgs/VIXENN.png" alt="Logo">
    </div>

    <div class="box">
        <form asp-controller="Home" asp-action="Register" method="post">
            <div class="title">
                <h1>Register Account</h1>
            </div>
            <div class="input-box">
                <label asp-for="Username" class="label-color">Username</label>
                <input asp-for="Username"
                       name="username"
                       type="text"
                       placeholder="Username"
                       required />
                <span asp-validation-for="Username"></span>


                <br />

                <label asp-for="Password" class="label-color">Password</label>
                <input asp-for="Password"
                       name="password"
                       type="password"
                       placeholder="Password"
                       required />
                <span asp-validation-for="Password"></span>

                       
                <br />

                <label for="confirmpassword" class="label-color">Confirm Password</label>
                <input id="password"
                       name="confirmpassword"
                       type="password"
                       placeholder="Confirm Password"
                       required />
                <br />
                <input type="submit" class="Register" value="Register" />
                <label>@ViewData["Invalid"]</label>

                <br />


                <p class="link-text">
                    Already Registered? @Html.ActionLink("Sign In Here", "Login", "Home")
                </p>
            </div>
        </form>
    </div>
</body>
</html>
